<div class="detail">
  <form nz-form [formGroup]="formGroup">
    <div nz-row style="height: 80px;">
      <div nz-col [nzXs]="8">
        <nz-form-item [nzGutter]="12">
          <nz-form-label [nzXs]="9" [nzFor]="'name-add'">名称</nz-form-label>
          <nz-form-control [nzXs]="15" *ngIf="mode !== 'add'">
            <nz-form-text>{{company?.name}}</nz-form-text>
          </nz-form-control>
          <nz-form-control [nzXs]="15" *ngIf="mode === 'add'" [nzErrorTip]="combineTpl">
            <input nz-input placeholder="" [formControlName]="'name-add'" [attr.id]="'name-add'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="8">
        <nz-form-item [nzGutter]="12">
          <nz-form-label [nzXs]="9" [nzFor]="'short-name-add'">简称</nz-form-label>
          <nz-form-control [nzXs]="15" *ngIf="mode !== 'add'">
            <nz-form-text>{{company?.shortName}}</nz-form-text>
          </nz-form-control>
          <nz-form-control [nzXs]="15" *ngIf="mode === 'add'" [nzErrorTip]="combineTpl">
            <input nz-input placeholder="" [formControlName]="'shortName-add'" [attr.id]="'short-name-add'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="8">
        <nz-form-item [nzGutter]="12">
          <nz-form-label [nzXs]="9" [nzFor]="'legal-person'">法人</nz-form-label>
          <nz-form-control [nzXs]="15">
            <input nz-input placeholder="" [formControlName]="'legalPerson'" [attr.id]="'legal-person'" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzXs]="24">
        <nz-form-item [nzGutter]="12">
          <nz-form-label [nzXs]="3" [nzFor]="'address'">地址</nz-form-label>
          <nz-form-control [nzXs]="21">
            <input nz-input placeholder="" [formControlName]="'address'" [attr.id]="'address'" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzXs]="12">
        <nz-form-item [nzGutter]="12">
          <nz-form-label [nzXs]="6" [nzFor]="'pw-policy-id'">密码策略</nz-form-label>
          <nz-form-control [nzXs]="18">
            <nz-select [formControlName]="'pwPolicyId'" [attr.id]="'pw-policy-id'">
              <nz-option *ngFor="let policy of passwordPolicies" [nzValue]="policy.id" [nzLabel]="policy.label">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="12">
        <nz-form-item [nzGutter]="12">
          <nz-form-label [nzXs]="6" [nzFor]="'status'">状态</nz-form-label>
          <nz-form-control [nzXs]="18">
            <nz-select [formControlName]="'status'" [attr.id]="'status'">
              <nz-option *ngFor="let map of edMap | keyvalue" [nzValue]="map.key" [nzLabel]="map.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzXs]="24">
        <nz-form-item [nzGutter]="12">
          <nz-form-label [nzXs]="3" [nzFor]="'remark'">备注</nz-form-label>
          <nz-form-control [nzXs]="21">
            <textarea rows="4" nz-input [formControlName]="'remark'" [attr.id]="'remark'"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<ng-template #combineTpl let-control>
  <ng-container *ngIf="control.hasError('exist')">该名称已经存在</ng-container>
  <ng-container *ngIf="control.hasError('required')">请输入名称!</ng-container>
</ng-template>