<div class="">
  <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
    <nz-form-item [nzGutter]="24">
      <nz-form-label [nzXs]="2" [nzFor]="'search-name'">权限</nz-form-label>
      <nz-form-control [nzXs]="6">
        <input nz-input placeholder="" [formControlName]="'name'" [attr.id]="'search-name'" />
      </nz-form-control>
      <nz-form-label [nzXs]="2" [nzFor]="'search-status'">状态</nz-form-label>
      <nz-form-control [nzXs]="6">
        <nz-select [formControlName]="'status'">
          <nz-option [nzValue]="''" [nzLabel]="''"></nz-option>
          <nz-option *ngFor="let map of edMap | keyvalue" [nzValue]="map.key" [nzLabel]="map.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'"
          (click)="searchCondition = validateForm.value;onQueryParamsChange();">搜索</button>
        <button nz-button (click)="validateForm.reset()">重置</button>
        <button nz-button [nzType]="'primary'" (click)="add()">添加</button>
      </div>
    </div>
  </form>

  <nz-table #basicTable [nzData]="dataSet" class="search-result-list" [nzFrontPagination]="false" [nzSize]="'small'"
    [nzLoading]="loading" [nzTotal]="total" [nzShowPagination]="false" [nzFooter]="paginationTemplate"
    [nzPageSize]="pageSize" [nzBordered]="true" [nzPageIndex]="pageNumber"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzColumnKey="id" [nzSortFn]="true">ID</th>
        <th nzColumnKey="name" [nzSortFn]="true" [nzSortOrder]="'ascend'">权限</th>
        <th>状态</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{utils.getValueFormMap(edMap, data.status)}}</td>
        <td>{{data.remark}}</td>
        <td>
          <a (click)="openDetail(data)">详情</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="openRelation(data)">角色关联</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [nzWidth]="detailWidth" [(nzVisible)]="detailVisible" nzTitle="权限详情" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <app-una-perm-detail #detailModal [perm]="selectedPerm" [mode]="detailMode"></app-una-perm-detail>
  </ng-container>
</nz-modal>

<ng-template #paginationTemplate>
  <nz-pagination [(nzPageIndex)]="pageNumber" [nzTotal]="total" [nzPageSizeOptions]="[5, 10, 20, 30, 40]"
    [nzPageSize]="pageSize" (nzPageSizeChange)="pageSize = $event;onQueryParamsChange();" [nzHideOnSinglePage]="true"
    nzShowSizeChanger nzShowQuickJumper>
  </nz-pagination>
</ng-template>

<nz-modal [nzWidth]="relationWidth" [(nzVisible)]="relationVisible" nzTitle="关联角色" (nzOnOk)="closeRelation()"
  (nzOnCancel)="relationVisible = false; selectedPerm = undefined">
  <ng-container *nzModalContent>
    <app-una-role-perm-relation #relationModal [perm]="selectedPerm"></app-una-role-perm-relation>
  </ng-container>
</nz-modal>